.navbar {
  height: 6em;
  background-color: #172d13;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoImg {
  width: 40%;
  display: flex;
  justify-content: center;
  /* height: 10em; */
  object-fit: cover;
}

.navButton {
  width: 7em;
  height: 3em;
  background-color: #e66714;
  margin-left: 1em;
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
  color: #ebece9;
  border-radius: 1em;
}
